<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.dao.ext.DiseaseRecordExtMapper">
    <resultMap id="BaseResultMap" type="com.it.pojo.ext.DiseaseRecordExt"
               extends="com.it.dao.DiseaseRecordMapper.BaseResultMap">
        <collection property="disease" resultMap="com.it.dao.ManagerDiseaseMapper.BaseResultMap"/>
    </resultMap>

    <select id="queryAllRecords" resultMap="BaseResultMap">
        select *
        from disease_record dr
        LEFT JOIN manager_disease md ON dr.dr_d_id = md.d_id
        <where>
            <if test="drDId != null">
                dr_d_id = #{drDId}
            </if>
            <if test="drStatus != null">
                and dr_status = #{drStatus}
            </if>
        </where>
    </select>


</mapper>