<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.dao.ext.ManagerFenceHouseExtMapper">

    <resultMap id="HousesAndHurdlesMap" type="managerFenceHouseExt"
               extends="com.it.dao.ManagerFenceHouseMapper.BaseResultMap">
        <collection property="mhs" resultMap="com.it.dao.ManagerHurdlesMapper.BaseResultMap"/>
    </resultMap>

    <select id="selectHouseAndHurdlesById" resultMap="HousesAndHurdlesMap">
        SELECT *
        FROM manager_fence_house mfs
                 LEFT JOIN manager_hurdles mh ON mfs.fh_id = mh.h_fence_id
        WHERE mfs.fh_id = #{fhId}
    </select>
</mapper>